<h1>Liste des Pokemons</h1>

<p>
	<%= link_to 'Ajouter un Pokemon', new_pokemon_path, class: 'btn btn-success'  %>
</p>

<section class="table-responsive">
	<% if@pokemons.any? %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @pokemons.each do |pokemon| %>
					<tr>
						<td><%= pokemon.id %></td>
						<td><%= pokemon.name %></td>
						<td><%= link_to 'Afficher', pokemon_path(pokemon) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p>No data.</p>
	<% end %>
</section>